//window sizing
$grid-width:114rem;

//colours
$color-brand-primary:#6A1B9A;
$color-brand-secondary:#CE93D8;
$color-grey-dark:#222222;
$color-white:#ffffff;

//font-size
$base-font-size:1.6rem;
$font-family: "Lato", sans-serif;

//spacing
